aside{
  position: fixed;
  right: 20px;
  top: calc(50% - 59px);
}
aside ul{

}
aside ul li{
  margin-bottom: 20px;
}
aside ul li:not(:last-child){
  
}
aside ul li a{
/*  환경설정  */
  font-size: 0;
  display: block;
/*  크기조정  */
  height: 12px;
  width: 12px;
/*  디자인  */
  border-radius: 50%;
  background-color: #E5E5E5;
}
.currentB{
  background-color: blue;
}
.currentW{
  background-color: white;
}