.ham{
  display: initial;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
  gap: 6px;
}
.ham span{

}
.ham span:nth-child(1){
   
}
.ham span:nth-child(2){
   
}
.ham span:nth-child(3){
   
}