body{
 
}
header {
  padding: 0 !important;
  height: 100px;
  display: flex;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  animation-name: head;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  transition: 1s;
}
header .wrap a.close{
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #eee;
  bottom: -20px;
  right: 10px;
  position: absolute;
  font-size: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-image: url(../img/up.svg);
  background-position: center;
}
@keyframes head{
  0%{
   opacity: 1;
   transform: translateY(0);
  }
  100%{
   opacity: 0;
   transform: translateY(-100%);
  }
}
header div.wrap {
  width: 1080px;
  align-items: center;
}
header div.wrap h1 {
  
}
header div.wrap h1 a {
  font-size: 0;
  width: 165px;
  height: 20px;
  display: block;
  background-image: url(../img/logo.png);
}
header div.wrap h1 a::after{

}
header div.wrap ul.gnb {
  transform: translateX(-100%);
  height: 100%;
}
header div.wrap ul.gnb li {
  
}
header div.wrap ul.gnb li:hover{
  background-color: green;
}
header div.wrap ul.gnb li a {
  display: block;
  height: 100%;
  line-height: 100px;
  padding: 0 20px;
}
header div.wrap ul.gnb li a:hover {
  content:""; 
  color: #009AFF;
  border-bottom: 1px solid #009AFF;
}
header div.wrap .sublist{
  position: absolute;
  left: 0;
  top: 100px;
  width: 100px;
  padding: 40px 0 70px;
  background-color: #eee;
  display: grid;
  grid-template-columns: calc((100% - 1080px) / 2) 320px auto;
  width: 100%;
  display: none;
}
header div.wrap .sublist h2{
  
}
header div.wrap .sublist ul{ 
  grid-column: 3;
}
header div.wrap .sublist ul li{
  
}
header div.wrap .sublist ul li a{ 
  line-height: 1.7;
  display: block;
}
header div.wrap ul.lang { 
  gap: 20px;
}
header div.wrap ul.lang li {
 
}
header div.wrap ul.lang li a{
  padding: 10px 0;
}
header div.wrap ul.lang li:nth-child(3) a{
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/customcenter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.wrap ul.lang li:nth-child(3) a::after{
  content: "고객센터";
  display: block;
  width: max-content;
  font-size: 12px;
  margin-top: 30px;
  background-color: #d2cccc;
  border-radius: 15px;
  padding: 5px;
  display: none;
}
header div.wrap ul.lang li:nth-child(3) a:hover::after{
  display: initial; 
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade{ /* fade이름의 애니메이션 설정 */
  0%{ /* 처음 */
    opacity: 0; /* 투명도 */
    transform: translateY(30%);
  }
  100%{ /* 마지막 */
    opacity: 1;
    transform: translateY(0%);
  }
}
header div.wrap a.ham{

}
header div.wrap a.ham span{
 height: 2px;
  width: 100%;
  background-color: black;
}
.up{
  top: -100px;
}
.down{
  background-image: url(../img/down.svg) !important;
}
.show{
  display: grid !important;
}